body {
    font-family: helvetica;
}

header {
    border-bottom: 1px solid #F4F4F4;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
}

ul p {
    font-size: 1.5em;
    margin: 0.5em;
    font-weight: 600;
}

nav {
    position: relative;
}

.favoriet {
    width: 2.5em;
    height: auto;
    margin-top: 1em;
}

.counter {
    position: absolute;
    right: .98em;
    top: 1.6em;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
}

#films {
    text-decoration: none;
    color: black;
}

li:last-of-type {
    right: 1em;
    position: absolute;
}

h1 {
    color: #565656;
    font-weight: 500;
}

article {
    display: grid;
    grid-template-columns: 8em auto 3em;
    grid-template-rows: 20% auto;
    height: 13em;
    background-color: #F4F4F4;
    border-bottom-style: solid;
    border-bottom-color: #fff;
}

h2 {
    grid-column: 2;
    grid-row: 1;
    margin-top: .5em;
    margin-left: 2em;
    color: #565656;
    font-weight: 400;
}

h3 {
    grid-column: 2;
    grid-row: 3;
    margin-top: .5em;
    margin-left: 2.7em;
    color: #565656;
    font-weight: 400;
}

h4 {
    grid-column: 2;
    grid-row: 3;
    margin-top: .5em;
    margin-right: 0;
    color: #565656;
    font-weight: 400;
    text-align: right;
}

p {
    grid-column: 2/3;
    grid-row: 2;
    margin-top: 1.8em;
    margin-left: 3.1em;
    margin-bottom: 1em;
    color: #565656;
}

button {
    grid-column: 3;
    grid-row: 1;
    background-image: url('img/hart-01.png');
    background-position: center;
    background-size: cover;
    padding: 12px;
    margin-right: 1em;
    margin-top: 1em;
    height: 3em;
    background-color: transparent;
    border: none;
}

img {
    height: 12.9em;
    width: 9em;
    grid-column: 1;
}

.download.active {
    background-image: url(../img/hart%20rood-01.png);
    background-size: 2.5em;
    background-repeat: no-repeat;
}
